.messanger-layout {
  display: flex;
  margin-left: 100px;
  height: 100vh;
  font-family: var(--body-font);
  font-size: var(--body-desktop-size);
}
@media (max-width: 780px) {
  .messanger-layout {
    font-size: var(--body-size);
  }
  .messanger-layout {
    margin-left: 0;
    display: block;
  }
}

.chats-container {
  flex: 0 0 350px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  gap: 1rem;
}

.chat-header {
  font-size: var(--title-font);
}

.chat-panel {
  display: flex;
  overflow-y: auto;
  padding: 1.5rem;
  width: 100%;
}

.chat-wrapper {
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: .8rem;
  cursor: pointer;
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.sub-chat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.4rem 0.6rem;
}

.chat-wrapper:hover {
  opacity: 80%;
  scale: 1.02;
}

.selected-chat {
  background-color: var(--button-color);
  color: var(--light-color);
}

.sport-img {
  width: 111px;
  height: 68px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.chat-btn {
  background: var(--button-color);
  padding: 0.4rem 0.6rem;
}

/* Chat-room */

.chat-room {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 3rem;
  gap: 1rem;
}

.mob-chat-header {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 100%;
  padding: 12px 2.5rem;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 0 2px
    color-mix(in srgb, var(--neutral-color) 40%, transparent);

  & p {
    font-family: var(--body-highlight-font);
    font-size: var(--body-size);
  }
}

.single-message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0.4rem 1rem;
  border: 1px solid var(--input-color);
  font-family: var(--body-font);
  width: 100%;
}

.users-message {
  border-right: 2px solid var(--input-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.others-messages {
  border-left: 2px solid var(--input-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.single-message:hover {
  background-color: var(--neutral-color);
  box-shadow: 0 0 0 2px
    color-mix(in srgb, var(--neutral-color) 40%, transparent);
}

.user-date {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.my-user-date {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.username {
  display: flex;
  gap: 1rem;
  color: var(--accent-color);
}

.message-date {
  display: flex;
  align-items: flex-end;
  font-size: 0.7rem;
  color: var(--dark-color);
}

/* .msg-content {
  font-size: 1rem;
} */

.like-btn {
  display: flex;
  gap: 0.2rem;
  width: 1.5rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.like-btn img {
  width: 18px;
  height: 18px;
  display: block;
}

.like-btn:hover img {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.like-btn {
  transition: transform 0.1s ease;
}

.like-count {
  font-size: .6rem;
  display: flex;
  align-items: flex-end;
}

.send-message {
  padding: 0.4rem 1.2rem;
  background-color: var(--button-color);
  border-radius: 5px;
}

.chat-input-container {
  width: 100%;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.chat-input {
  width: 100%;
  min-height: 44px;
  max-height: 200px;
  padding: 10px 14px;
  border-radius: 12px;
  border: none;
  outline: none;

  border: 1px solid var(--input-color);
  border-radius: 10px;
  background-color: var(--light-color);

  font-size: 0.95rem;
  line-height: 1.4;
  resize: none;

  box-sizing: border-box;
  overflow-y: auto;

  margin-bottom: 6rem;
}

.chat-input:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 2px color-mix(in srgb, var(--accent-color) 40%, transparent);
}

.like-delete-wrap {
  display: flex;
  justify-content: space-between;
}
