#my-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--heading-font);
  color: var(--dark-color);
  margin-bottom: 12rem;

  & > h1 {
    margin-top: 2rem;
    font-size: var(--heading-size);
  }
}

.cards-myactivities {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  justify-content: center;
}

@media (min-width: 1024px) {
  #my-activities {
    width: calc(100% - 8rem);
    margin-left: 8rem;
    gap: 1.5rem;
  }

  .cards-myactivities {
    width: 100%;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
  }

  #my-activities h1 {
    font-size: var(--heading-desktop-size);
  }
}

@media (min-width: 1440px) {
  .cards-myactivities {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}
