.pagination {
  margin: 1rem 0 12rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--body-font);
  font-size: var(--body-size);

  & .button-nav-pagination {
    text-decoration: none;
    color: var(--dark-color);

    &:visited {
      color: var(--dark-color);
    }
  }

  & .button-nb-page {
    text-decoration: none;
    background-color: var(--neutral-color);
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);

    &:visited {
      color: var(--dark-color);
    }

    &.active {
      background-color: var(--button-color);
      color: var(--light-color);
    }
  }
}

@media (min-width: 1024px) {
  .pagination {
    margin: 1.5rem 0 1.5rem 0;
    width: 65%;
    margin-left: 8rem;
    font-size: var(--body-desktop-size);
    gap: 1rem;
    cursor: pointer;

    & .button-nav-pagination {
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }

    & .button-nb-page {
      width: 1.5rem;
      height: 1.5rem;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
